@model IEnumerable<Warehouse.Models.Product>

@{
    Layout = null;
}
<!doctype html>
<html>
<head>
    <title>Warehouse</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width">
</head>
    <body>
        @Html.ActionLink("Авторизация", "Authorization", "Home")
        @Html.ActionLink("Добавить товар","AddNewProduct","Home")
        @using(Html.BeginForm("","Home",FormMethod.Post))
        {
        int i = 1;
        <input type="submit" value="Delete">
            <table>
                <tr> 
                    <th></th>
                    <th>№</th>
                    <th>Название</th>
                    <th>Количество</th>
                </tr>
                @foreach (var product in Model)
                {

                <tr>
                    <td><input type="checkbox" name="check" value=@i></td>
                    <td>@product.Id</td>
                    <td>@product.Name</td>
                    <td>@product.NumberProduct</td>
                </tr>
                i++;
                }
            </table>
        }
    </body>    
</html>